<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>brocanterecherche</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>fr.petite.annonce.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createAccount</servlet-name>
    <servlet-class>fr.petite.annonce.servlet.CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createAccount</servlet-name>
    <url-pattern>/createAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AnnonceServlet</display-name>
    <servlet-name>AnnonceServlet</servlet-name>
    <servlet-class>fr.petite.annonce.servlet.AnnonceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnonceServlet</servlet-name>
    <url-pattern>/annonces</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CreateAnnnonceServlet</display-name>
    <servlet-name>CreateAnnnonceServlet</servlet-name>
    <servlet-class>fr.petite.annonce.servlet.CreateAnnnonceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAnnnonceServlet</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>fr.petite.annonce.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailsAnnonceServlet</display-name>
    <servlet-name>DetailsAnnonceServlet</servlet-name>
    <servlet-class>fr.petite.annonce.servlet.DetailsAnnonceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsAnnonceServlet</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>fr.petite.annonce.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>fr.petite.annonce.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAnnonceServlet</display-name>
    <servlet-name>DeleteAnnonceServlet</servlet-name>
    <servlet-class>fr.petite.annonce.servlet.DeleteAnnonceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAnnonceServlet</servlet-name>
    <url-pattern>/deleteAnnonce</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MesAnnoncesServlet</display-name>
    <servlet-name>MesAnnoncesServlet</servlet-name>
    <servlet-class>fr.petite.annonce.servlet.MesAnnoncesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesAnnoncesServlet</servlet-name>
    <url-pattern>/mesAnnonces</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateOffreServlet</display-name>
    <servlet-name>CreateOffreServlet</servlet-name>
    <servlet-class>fr.petite.annonce.servlet.CreateOffreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOffreServlet</servlet-name>
    <url-pattern>/createOffre</url-pattern>
  </servlet-mapping>
</web-app>